  </main>
  <footer class="bg-dark text-white text-center p-3 mt-5">
    &copy; 2025 TechTuts - All Rights Reserved
  </footer>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>