// views/blog.ejs
<% layout('partials/layout') -%>
<% title = 'Blog - TechTuts' %>
<h2 class="mb-4">Blog Posts</h2>
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action">
    <h5 class="mb-1">How I Fixed My Breadboard Circuit</h5>
    <p class="mb-1">A practical guide to troubleshooting your electronics setup.</p>
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <h5 class="mb-1">My Favorite JavaScript Debugging Tools</h5>
    <p class="mb-1">A tour of the best tools to fix bugs faster.</p>
  </a>
</div>