<%- include('../partials/header') %>
<div class="jumbotron">
  <h1 class="display-4">Welcome to TechTuts</h1>
  <p class="lead">Your hub for tutorials on Programming and Basic Electronics.</p>
  <hr class="my-4">
  <p>Start learning with beginner-friendly guides and practical projects.</p>
  <p>This is a test.</p>
</div>
<%- include('../partials/footer.ejs') %>