// views/tutorials.ejs
<% layout('partials/layout') -%>
<% title = 'Tutorials - TechTuts' %>
<h2 class="mb-4">Tutorials</h2>
<div class="row">
  <div class="col-md-4">
    <div class="card mb-4">
      <img src="https://via.placeholder.com/350x150" class="card-img-top" alt="Arduino">
      <div class="card-body">
        <h5 class="card-title">Getting Started with Arduino</h5>
        <p class="card-text">Learn how to set up and program an Arduino board.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mb-4">
      <img src="https://via.placeholder.com/350x150" class="card-img-top" alt="JavaScript">
      <div class="card-body">
        <h5 class="card-title">Intro to JavaScript</h5>
        <p class="card-text">Understand JavaScript basics and start building web apps.</p>
      </div>
    </div>
  </div>
</div>